@use '../../styles/partials/colors' as*;
@use '../../styles/partials/fonts' as*;
@use '../../styles/partials/mixins' as*;


body {
    font-family: 'titillium-regular'; 
    box-sizing: border-box;
    margin: 0rem;
}

.background{
    background-image: url("../../assets/images/disney_background.png");
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.body__text{
    color: $white;
}
.body{
   // background-color: rgb(200, 126, 247);
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 75%;
    align-items: center;

    &__profileImage{
        display: flex;
        height: 21%;
        width: auto;
        align-self: center;
    }

    &__text{
        color:aquamarine;
        font-size: 3rem;
    }

    &__textboxRow{
        display: flex;
        flex-direction: row;
    }

    &__submitThumbsup{
        margin-left: 10%;
        height: 5rem;
        width: auto;
    }



}

