@use '../../styles/partials/colors' as*;
@use '../../styles/partials/fonts' as*;
@use '../../styles/partials/mixins' as*;

* {
    margin: 0;
}

body {
    font-family: 'titillium-regular'; 
    box-sizing: border-box; 
}