@use '../../../styles/partials/colors' as*;
@use '../../../styles/partials/fonts' as*;
@use '../../../styles/partials/mixins' as*;


.signInButton{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 45rem;
    padding: 20px 80px 20px 66px;
    border-radius: 25px;
    background: $blue;
    color: $white;
    font-size: larger;
    margin-bottom: 2rem;
    //box-shadow: -10px 10px 100px $white;
}