@use '../../../styles/partials/colors' as*;
@use '../../../styles/partials/fonts' as*;
@use '../../../styles/partials/mixins' as*;

// html, body{
//     font-family: 'titillium-regular'; 
//     font-weight: 700;
//     margin: 0;    
//     color: $black; 
//     //background-color: $white;
//     box-sizing: border-box; 
// }

.header{
    display: flex;
    flex-direction: row;
    height: 10vh;
    justify-content: space-between;
    margin: 2.5rem 2rem 4rem 4rem;
}

.header__logo{
    &__image{
        height: 150px;
        width: 400px;
    }
    
}



