@use '../../styles/partials/colors' as*;
@use '../../styles/partials/fonts' as*;
@use '../../styles/partials/mixins' as*;

html, body{
    font-family: 'titillium-regular'; 
    font-weight: 700;
    margin: 0;    
    color: $black; 
    background-color: $white;
    box-sizing: border-box; 
}

.header{
    display: flex;
    flex-direction: row;
    height: 12vh;
    justify-content: space-between;
    margin: 2.5rem 2rem 4rem 4rem;
}

.header__logo{
    &__image{
        height: 150px;
        width: 400px;
    }
    
}

.header__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
    width: 50%;
    

}

.header__login{
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 15px;
    text-decoration: none;
}

.header__account{
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 15px;
    text-decoration: none;
}

.header__menu{
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 25px;
    text-decoration: none;
    font-size: 40px;
}

