@use '../../styles/partials/colors' as*;
@use '../../styles/partials/fonts' as*;
@use '../../styles/partials/mixins' as*;

body {
    font-family: 'titillium-regular'; 
    box-sizing: border-box;
    margin: 0rem;
}

.background{
    background-image: url("../../assets/images/misc/disney_background.png");
    height: 10vh;
    display: flex;
    flex-direction: column;
}

.loginbody{
    display: flex;
    flex-direction: row;
    height: 100vh;

    &__left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        text-align: center;

    &__Text {
        color: $white;
        font-size: 2rem;
        width: 60%;
    }

    &__Img{
        width: 60%;
    }
    }

    &__right{
        //background-color: rgb(193, 246, 114);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        
        &__Text{
            color: $white;
            font-size: 2rem;
            width: 60%;
        }

        &__continuewith{
            color: $white;
            font-size: 1.5rem;
            width: 60%;
        }

        &__platformIcons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 30%;
            //background-color: aqua;
            //height: 20%;
        }
    }



    
}

