.paragraph{
    font-size: large;
    color:aqua;
}

.textbox{
    display: flex;
    align-self: center;
    width: 20%;
    padding: 24px 462.427px 24px 66px;
    justify-items: center;
    border-radius: 25px;
    background: #FFFAFA;
    font-size: larger;
}