@use '../../../styles/partials/colors' as*;
@use '../../../styles/partials/fonts' as*;
@use '../../../styles/partials/mixins' as*;
label{
    color: white
}

.email__textbox{
    display: flex;
    align-self: center;
    width: 40%;
    padding: 24px 80px 24px 66px;
    justify-items: center;
    border-radius: 25px;
    background: #FFFAFA;
    font-size: larger;
    margin-bottom: 2rem;
    color: $grey-text;
}

.password__textbox{
    display: flex;
    align-self: center;
    width: 40%;
    padding: 24px 80px 24px 66px;
    justify-items: center;
    border-radius: 25px;
    background: #FFFAFA;
    font-size: larger;
    margin-bottom: 2rem;
    color: $grey-text;
}