@use '../../../styles/partials/colors' as*;
@use '../../../styles/partials/fonts' as*;
@use '../../../styles/partials/mixins' as*;
label{
    color: white
}

.username__textbox{
    display: flex;
    align-self: center;
    width: 40%;
    padding: 24px 80px 24px 66px;
    justify-items: center;
    border-radius: 25px;
    background: #FFFAFA;
    font-size: larger;
    margin-bottom: 2rem;
    color: $grey-text;
}

.password__textbox{
    display: flex;
    align-self: center;
    width: 40%;
    padding: 24px 80px 24px 66px;
    justify-items: center;
    border-radius: 25px;
    background: #FFFAFA;
    font-size: larger;
    margin-bottom: 2rem;
    color: $grey-text;
}

.signInButton{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 45rem;
    padding: 20px 80px 20px 66px;
    border-radius: 25px;
    background: $blue;
    color: $white;
    font-size: larger;
    margin-bottom: 2rem;
    //box-shadow: -10px 10px 100px $white;
}